body {
	font-family: Roboto, Segoe UI, DIN Alternate, Avenir;
	text-align: center;
	overflow: hidden;
}
.account {
	font-size: 35px;
}
.subs {
	font-size: 75px;
	font-weight: bold;
}
.time {
	text-align: left;
}
@keyframes plus {
	0% {
		color: black;
		transform: translateY(0) rotateY(0);
	} 25% {
		color: mediumseagreen;
		transform: translateY(-5px) rotateX(30deg);
	} 50% {
		transform: translateY(0) rotateY(0);
	} 80% {
		color: mediumseagreen;
	} 100% {
		color: black;
	}
}
@keyframes minus {
	0% {
		color: black;
		transform: translateY(0) rotateX(0);
	} 25% {
		color: tomato;
		transform: translateY(5px) rotateX(-30deg);
	} 50% {
		transform: translateY(0) rotateX(0);
	} 80% {
		color: tomato;
	} 100% {
		color: black;
	}
}
@keyframes same {
	0% {
		color: black;
	} 25% {
		color: #3a3a3a;
		transform: translateY(-2px) rotateX(10deg);
	} 50% {
		transform: translateY(2px) rotateX(-10deg);
	} 75% {
		color: #3a3a3a;
		transform: translateY(0) rotateX(0);
	} 100% {
		color: black;
	}
}
.subholder {
	perspective: 1000px;
}
